.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 850px;
  height: auto;
  padding: 20px;
  outline: none;
  overflow: auto;
  margin-right: -50%;
  border-radius: 2px;
  border: 5px double #F3A530;
  transform: translate(-50%, -50%);
  /*
  // backgroundColor: #d5e1d8;
  // backgroundImage: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23638d27' fill-opacity='0.46' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  // backgroundColor: #F3A530;
  // backgroundImage: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234cb2d4' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  // backgroundColor: #4CB2D4;
  // backgroundImage: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2330499b' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  // backgroundColor: #4d6bce;
  // backgroundImage: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234cb2d4' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  */
  background-color: #4b6bd8;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234cb2d4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.modalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(30, 70, 83, 0.7);
  /*
  background-color: rgba(19, 29, 61, 0.7);
  background-color: rgba(243, 165, 48, 0.3);
  */
}

.modalContent > div {
  display: flex;
}

.modalContent .title {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 36px;
  font-family: 'gunnar-regular';
  color: #F3A530;
  text-shadow: 2px 3px #222;
}

.modalContent .title p {
  display: inline;
  margin-right: 15px;
}

.runImage {
  height: 400px;
  width: 400px;
  border-radius: 25px;
  margin-right: 25px;
}

.runInfo {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space;
  align-items: center;
  justify-content: center;
}

.runInfo > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.runInfo img {
  height: 60px;
  width: 60px;
}

.runInfo .metric {
  padding-left: 15px;
  color: #DCDCDC;
}

.runInfo .metric > p:first-of-type {
  font-size: 46px;
  font-family: 'gunnar-outline';
  padding: 0;
  margin: 0;
}

.runInfo .metric > p:last-of-type {
  font-size: 20px;
  font-family: 'Vollkorn';
  padding: 0;
  margin: -10px 0 0 0;
}

@media (max-width: 850px) {
  .modal {
    width: 70%;
  }

  .runImage {
    height: 230px;
    width: 230px;
    margin: 0;
  }

  .modalContent > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .modalContent .title p {
    display: block;
    /*margin-right: 15px;*/
    margin: 0 0 5px 0;
  }

  .modalContent .title {
    padding: 10px 0 0 0;
    font-size: 28px;
  }

  .modalContent .title .dateTimeSeparator {
    display: none;
  }

  .runInfo {
    height: auto;
  }

  .runInfo > div {
    padding-top: 10px;
  }

  .runInfo img {
    height: 40px;
    width: 40px;
  }

  .runInfo .metric > p:first-of-type {
    font-size: 26px;
  }

  .runInfo .metric > p:last-of-type {
    font-size: 16px;
    margin: -5px 0 0 0;
  }
}
